Repository chenasraf/nextcloud-autocurrency: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, /usr/local/bin/php vendor-bin/cs-fixer/vendor/php-cs-fixer/shim/php-cs-fixer.phar fix

.lintstagedrc.json:

{
  "*.{ts,vue}": [
    "eslint --fix"
  ],
  "*.{scss,vue,ts,md}": [
    "prettier --write"
  ],
  "*.php": [
    "/usr/local/bin/php vendor-bin/cs-fixer/vendor/php-cs-fixer/shim/php-cs-fixer.phar fix"
  ]
}

chore(master): release 1.6.7
  .release-please-manifest.json
  CHANGELOG.md
  appinfo/info.xml
  version.txt
Due: prettier --write

fix(l10n): Update translations from Transifex
  l10n/ug.js
  l10n/ug.json
Due: none

chore(master): release 1.6.8
  .release-please-manifest.json
  CHANGELOG.md
  appinfo/info.xml
  version.txt
Due: prettier --write

chore(deps): update dependencies
  composer.lock
  package.json
  pnpm-lock.yaml
  vendor-bin/cs-fixer/composer.lock
  vendor-bin/openapi-extractor/composer.lock
  vendor-bin/phpunit/composer.lock
  vendor-bin/psalm/composer.lock
Due: none

chore(deps): update dependencies
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependencies
  composer.lock
  package.json
  pnpm-lock.yaml
  vendor-bin/openapi-extractor/composer.lock
  vendor-bin/psalm/composer.lock
Due: none

chore(deps): update dependencies
  composer.lock
  package.json
  pnpm-lock.yaml
  vendor-bin/cs-fixer/composer.lock
  vendor-bin/openapi-extractor/composer.lock
Due: none

fix(l10n): Update translations from Transifex
  l10n/mn.js
  l10n/mn.json
Due: none

chore(master): release 1.6.9
  .release-please-manifest.json
  CHANGELOG.md
  appinfo/info.xml
  version.txt
Due: prettier --write

chore: update build process
  .gitignore
  js/.gitkeep
  vite.config.ts
Due: eslint --fix, prettier --write

chore(deps): update dependencies
  composer.lock
  package.json
  pnpm-lock.yaml
  vendor-bin/cs-fixer/composer.lock
  vendor-bin/psalm/composer.lock
Due: none

chore(deps): update dependencies
  composer.lock
  package.json
  pnpm-lock.yaml
  vendor-bin/openapi-extractor/composer.lock
Due: none

feat: add more fiat currencies + add many crypto currencies
  .prettierrc
  lib/Controller/ApiController.php
  lib/Service/FetchCurrenciesService.php
  lib/Service/symbols-crypto.json
  lib/Service/symbols.json
  openapi-full.json
  openapi.json
  src/UserSettings.vue
  tests/unit/Service/FetchCurrenciesServiceTest.php
  tools/currency-json.cjs
Due: eslint --fix, prettier --write, /usr/local/bin/php vendor-bin/cs-fixer/vendor/php-cs-fixer/shim/php-cs-fixer.phar fix

build: use lefthook + add info.xml lint
  .husky/pre-commit
  .prettierignore
  Makefile
  README.md
  lefthook.yml
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(deps): update dependencies
  composer.lock
  package.json
  pnpm-lock.yaml
  vendor-bin/cs-fixer/composer.lock
  vendor-bin/openapi-extractor/composer.lock
  vendor-bin/psalm/composer.lock
Due: none

chore(master): release 1.7.0
  .release-please-manifest.json
  CHANGELOG.md
  appinfo/info.xml
  version.txt
Due: prettier --write

fix(l10n): Update translations from Transifex
  l10n/de.js
  l10n/de.json
  l10n/de_DE.js
  l10n/de_DE.json
  l10n/pt_BR.js
  l10n/pt_BR.json
  l10n/zh_TW.js
  l10n/zh_TW.json
Due: none

fix(l10n): Update translations from Transifex
  l10n/ga.js
  l10n/ga.json
Due: none

fix(l10n): Update translations from Transifex
  l10n/zh_HK.js
  l10n/zh_HK.json
Due: none

fix(l10n): Update translations from Transifex
  l10n/et_EE.js
  l10n/et_EE.json
Due: none

fix(l10n): Update translations from Transifex
  l10n/cs.js
  l10n/cs.json
Due: none

fix: add more detailed error logging
  lib/Service/FetchCurrenciesService.php
Due: /usr/local/bin/php vendor-bin/cs-fixer/vendor/php-cs-fixer/shim/php-cs-fixer.phar fix

chore(master): release 1.7.1
  .release-please-manifest.json
  CHANGELOG.md
  appinfo/info.xml
  version.txt
Due: prettier --write

fix(l10n): Update translations from Transifex
  l10n/en_GB.js
  l10n/en_GB.json
  l10n/uz.js
  l10n/uz.json
Due: none

feat: use IClientService (curl) for api requests
  lib/Service/FetchCurrenciesService.php
  tests/unit/Controller/ApiControllerTest.php
  tests/unit/Service/FetchCurrenciesServiceTest.php
Due: /usr/local/bin/php vendor-bin/cs-fixer/vendor/php-cs-fixer/shim/php-cs-fixer.phar fix

chore(master): release 1.8.0
  .release-please-manifest.json
  CHANGELOG.md
  appinfo/info.xml
  version.txt
Due: prettier --write
