Repository chenasraf/nextcloud-autocurrency: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, /usr/local/bin/php vendor-bin/cs-fixer/vendor/php-cs-fixer/shim/php-cs-fixer.phar fix

.lintstagedrc.json:

{
  "*.{ts,vue}": [
    "eslint --fix"
  ],
  "*.{scss,vue,ts,md}": [
    "prettier --write"
  ],
  "*.php": [
    "/usr/local/bin/php vendor-bin/cs-fixer/vendor/php-cs-fixer/shim/php-cs-fixer.phar fix"
  ]
}

chore(master): release 0.6.1
  .release-please-manifest.json
  CHANGELOG.md
  appinfo/info.xml
  version.txt
Due: prettier --write

build: update source cmd
  Makefile
Due: none

fix: log level + methods docstring for currency
  lib/Db/Currency.php
  lib/Service/FetchCurrenciesService.php
Due: /usr/local/bin/php vendor-bin/cs-fixer/vendor/php-cs-fixer/shim/php-cs-fixer.phar fix

chore(master): release 0.6.2
  .release-please-manifest.json
  CHANGELOG.md
  appinfo/info.xml
  version.txt
Due: prettier --write

chore: update deps
  package.json
  pnpm-lock.yaml
Due: none

chore: update sign script
  Makefile
Due: none

fix: support cospend v3.0.7
  lib/Db/CospendProjectMapper.php
  lib/Db/Currency.php
  lib/Db/CurrencyMapper.php
  lib/Service/FetchCurrenciesService.php
Due: /usr/local/bin/php vendor-bin/cs-fixer/vendor/php-cs-fixer/shim/php-cs-fixer.phar fix

chore(master): release 0.6.3
  .release-please-manifest.json
  CHANGELOG.md
  appinfo/info.xml
  version.txt
Due: prettier --write

fix: skip projects with missing default currency
  lib/Service/FetchCurrenciesService.php
Due: /usr/local/bin/php vendor-bin/cs-fixer/vendor/php-cs-fixer/shim/php-cs-fixer.phar fix

chore(master): release 0.6.4
  .release-please-manifest.json
  CHANGELOG.md
  appinfo/info.xml
  version.txt
Due: prettier --write

chore: missing currency warning instead of error
  lib/Service/FetchCurrenciesService.php
Due: /usr/local/bin/php vendor-bin/cs-fixer/vendor/php-cs-fixer/shim/php-cs-fixer.phar fix

fix: rounding
  lib/Service/FetchCurrenciesService.php
Due: /usr/local/bin/php vendor-bin/cs-fixer/vendor/php-cs-fixer/shim/php-cs-fixer.phar fix

chore(master): release 0.6.5
  .release-please-manifest.json
  CHANGELOG.md
  appinfo/info.xml
  version.txt
Due: prettier --write

Add donation link to appear on Nextcloud appstore
  appinfo/info.xml
Due: none

docs: Add donation link to appear on Nextcloud appstore
  appinfo/info.xml
Due: none

chore(deps): update dependencies
  package.json
  pnpm-lock.yaml
Due: none

Revert "chore(master): release 0.6.5"
  .release-please-manifest.json
  CHANGELOG.md
  appinfo/info.xml
  version.txt
Due: prettier --write

feat: add localizations
  src/App.vue
Due: eslint --fix, prettier --write

fix(ApiController): use argument param in updateSettings
  lib/Controller/ApiController.php
  openapi.json
Due: /usr/local/bin/php vendor-bin/cs-fixer/vendor/php-cs-fixer/shim/php-cs-fixer.phar fix

chore(build): add openapi make command
  Makefile
Due: none

chore(master): release 0.7.0
  .release-please-manifest.json
  CHANGELOG.md
  appinfo/info.xml
  version.txt
Due: prettier --write

chore(build): improve signing size check
  Makefile
Due: none

docs: update README.md development section
  README.md
Due: prettier --write

chore(build): update command for openapi precommit hook
  .lintstagedrc.cjs
Due: none

docs: Add documentation links to appear on Nextcloud appstore
  appinfo/info.xml
Due: none

chore: add translation config files
  .l10nignore
  .tx/config
  l10n/.gitkeep
Due: none

chore: add .tx/backport
  .tx/backport
Due: none

chore: format info.xml
  appinfo/info.xml
Due: none

docs: add cospend link
  README.md
  appinfo/info.xml
Due: prettier --write
