Repository chenasraf/nextcloud-autocurrency: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, /usr/local/bin/php vendor-bin/cs-fixer/vendor/php-cs-fixer/shim/php-cs-fixer.phar fix

refactor: fix migration versions
  lib/Migration/Version1Date20250925012201.php
  lib/Migration/Version2Date20251005011020.php
  scaffold.config.cjs
Due: /usr/local/bin/php vendor-bin/cs-fixer/vendor/php-cs-fixer/shim/php-cs-fixer.phar fix

feat: add custom currency table & endpoints
  lib/Controller/ApiController.php
  lib/Db/CustomCurrency.php
  lib/Db/CustomCurrencyMapper.php
  lib/Migration/Version1Date20251005011020.php
  openapi-administration.json
  openapi-full.json
  tests/unit/Controller/ApiTest.php
Due: /usr/local/bin/php vendor-bin/cs-fixer/vendor/php-cs-fixer/shim/php-cs-fixer.phar fix

feat: add custom currencies logic to fetch service
  lib/Controller/ApiController.php
  lib/Service/FetchCurrenciesService.php
  tests/unit/Controller/ApiTest.php
  tests/unit/Service/FetchCurrenciesServiceTest.php
Due: /usr/local/bin/php vendor-bin/cs-fixer/vendor/php-cs-fixer/shim/php-cs-fixer.phar fix

fix(l10n): Update translations from Transifex
  l10n/he.js
  l10n/he.json
  l10n/pt_BR.js
  l10n/pt_BR.json
Due: none

fix: use grouping in number formats in history tooltip
  src/UserSettings.vue
Due: eslint --fix, prettier --write

chore(deps): update dependencies
  package.json
  pnpm-lock.yaml
Due: none

fix: history filters responsiveness
  src/UserSettings.vue
Due: eslint --fix, prettier --write

feat: add custom currencies UI to admin settings
  package.json
  pnpm-lock.yaml
  src/AdminSettings.vue
  tsconfig.app.json
  vite.config.ts
Due: eslint --fix, prettier --write

chore: update admin settings help info
  src/AdminSettings.vue
Due: eslint --fix, prettier --write

refactor: use NcTextField instead of input
  src/AdminSettings.vue
Due: eslint --fix, prettier --write

feat: add custom currencies to user settings history
  lib/Controller/ApiController.php
  openapi-full.json
  openapi.json
  tests/unit/Controller/ApiTest.php
Due: /usr/local/bin/php vendor-bin/cs-fixer/vendor/php-cs-fixer/shim/php-cs-fixer.phar fix

feat: add custom currencies (#182)
  lib/Controller/ApiController.php
  lib/Db/CustomCurrency.php
  lib/Db/CustomCurrencyMapper.php
  lib/Migration/Version1Date20250925012201.php
  lib/Migration/Version2Date20251005011020.php
  lib/Service/FetchCurrenciesService.php
  openapi-administration.json
  openapi-full.json
  openapi.json
  package.json
  pnpm-lock.yaml
  scaffold.config.cjs
  src/AdminSettings.vue
  tests/unit/Controller/ApiTest.php
  tests/unit/Service/FetchCurrenciesServiceTest.php
  tsconfig.app.json
  vite.config.ts
Due: eslint --fix, prettier --write, /usr/local/bin/php vendor-bin/cs-fixer/vendor/php-cs-fixer/shim/php-cs-fixer.phar fix

chore(master): release 1.3.0
  .release-please-manifest.json
  CHANGELOG.md
  appinfo/info.xml
  version.txt
Due: prettier --write

fix(l10n): Update translations from Transifex
  l10n/be.js
  l10n/be.json
  l10n/de.js
  l10n/de.json
  l10n/de_DE.js
  l10n/de_DE.json
  l10n/el.js
  l10n/el.json
  l10n/et_EE.js
  l10n/et_EE.json
  l10n/gl.js
  l10n/gl.json
  l10n/ps.js
  l10n/ps.json
  l10n/sw.js
  l10n/sw.json
  l10n/tr.js
  l10n/tr.json
Due: none

fix(l10n): Update translations from Transifex
  l10n/ga.js
  l10n/ga.json
Due: none

fix(l10n): Update translations from Transifex
  l10n/uk.js
  l10n/uk.json
Due: none

chore(master): release 1.3.1
  .release-please-manifest.json
  CHANGELOG.md
  appinfo/info.xml
  version.txt
Due: prettier --write

fix(l10n): Update translations from Transifex
  l10n/cs.js
  l10n/cs.json
  l10n/zh_TW.js
  l10n/zh_TW.json
Due: none

fix(l10n): Update translations from Transifex
  l10n/de.js
  l10n/de.json
  l10n/pt_BR.js
  l10n/pt_BR.json
Due: none

fix(l10n): Update translations from Transifex
  l10n/pt_BR.js
  l10n/pt_BR.json
Due: none

fix: handle missing primary number
  src/UserSettings.vue
Due: eslint --fix, prettier --write

fix: currency dropdown initial label
  src/UserSettings.vue
Due: eslint --fix, prettier --write

chore(deps): remove unnecessary dependency
  package.json
  pnpm-lock.yaml
Due: none

fix(l10n): Update translations from Transifex
  l10n/he.js
  l10n/he.json
Due: none

chore(master): release 1.3.2
  .release-please-manifest.json
  CHANGELOG.md
  appinfo/info.xml
  version.txt
Due: prettier --write

chore: clean up types
  src/UserSettings.vue
Due: eslint --fix, prettier --write

fix(l10n): Update translations from Transifex
  l10n/en_GB.js
  l10n/en_GB.json
Due: none

fix(l10n): Update translations from Transifex
  l10n/zh_HK.js
  l10n/zh_HK.json
Due: none

fix(l10n): Update translations from Transifex
  l10n/cs.js
  l10n/cs.json
Due: none

fix(l10n): Update translations from Transifex
  l10n/cs.js
  l10n/cs.json
  l10n/de.js
  l10n/de.json
  l10n/de_DE.js
  l10n/de_DE.json
Due: none

Path conditions:
  eslint --fix: any of: *.{ts,vue}
  prettier --write: any of: *.{scss,vue,ts,md}
  /usr/local/bin/php vendor-bin/cs-fixer/vendor/php-cs-fixer/shim/php-cs-fixer.phar fix: any of: *.php
