Repository chenasraf/nextcloud-autocurrency: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, /usr/local/bin/php vendor-bin/cs-fixer/vendor/php-cs-fixer/shim/php-cs-fixer.phar fix

chore(master): release 1.6.0
  .release-please-manifest.json
  CHANGELOG.md
  appinfo/info.xml
  version.txt
Due: prettier --write

fix(l10n): Update translations from Transifex
  l10n/cs.js
  l10n/cs.json
Due: none

chore(master): release 1.6.1
  .release-please-manifest.json
  CHANGELOG.md
  appinfo/info.xml
  version.txt
Due: prettier --write

chore(deps): update dependencies
  composer.lock
  package.json
  pnpm-lock.yaml
  vendor-bin/cs-fixer/composer.lock
  vendor-bin/openapi-extractor/composer.lock
  vendor-bin/psalm/composer.lock
Due: none

build: add update-deps make target
  Makefile
Due: none

chore(deps): update dependencies
  composer.lock
  package.json
  pnpm-lock.yaml
  vendor-bin/cs-fixer/composer.lock
  vendor-bin/openapi-extractor/composer.lock
  vendor-bin/phpunit/composer.lock
  vendor-bin/psalm/composer.lock
Due: none

fix(l10n): Update translations from Transifex
  l10n/tr.js
  l10n/tr.json
Due: none

chore(deps): update dependencies
  composer.lock
  package.json
  pnpm-lock.yaml
  vendor-bin/cs-fixer/composer.lock
  vendor-bin/openapi-extractor/composer.lock
Due: none

fix(l10n): Update translations from Transifex
  l10n/ug.js
  l10n/ug.json
Due: none

chore(master): release 1.6.2
  .release-please-manifest.json
  CHANGELOG.md
  appinfo/info.xml
  version.txt
Due: prettier --write

fix: remove unnecessary vendor files from build
  Makefile
  composer.json
  composer.lock
  vendor-bin/cs-fixer/composer.lock
  vendor-bin/openapi-extractor/composer.lock
  vendor-bin/phpunit/composer.lock
  vendor-bin/psalm/composer.lock
Due: none

chore(master): release 1.6.3
  .release-please-manifest.json
  CHANGELOG.md
  appinfo/info.xml
  version.txt
Due: prettier --write

fix(l10n): Update translations from Transifex
  l10n/de.js
  l10n/de.json
Due: none

chore(master): release 1.6.4
  .release-please-manifest.json
  CHANGELOG.md
  appinfo/info.xml
  version.txt
Due: prettier --write

chore(deps): update dependencies
  composer.lock
  package.json
  pnpm-lock.yaml
  vendor-bin/openapi-extractor/composer.lock
  vendor-bin/psalm/composer.lock
Due: none

chore(master): release 1.6.5
  .release-please-manifest.json
  CHANGELOG.md
  appinfo/info.xml
  version.txt
Due: prettier --write

chore(deps): update dependencies
  composer.lock
  pnpm-lock.yaml
  vendor-bin/cs-fixer/composer.lock
  vendor-bin/openapi-extractor/composer.lock
  vendor-bin/psalm/composer.lock
Due: none

chore(deps): update dependencies
  .prettierignore
  composer.lock
  package.json
  pnpm-lock.yaml
  scaffold.config.cjs
  vendor-bin/cs-fixer/composer.lock
Due: none

chore: update gen templates
  gen/component/{{pascalCase name}}.test.ts
  gen/component/{{pascalCase name}}.vue
  gen/model/{{pascalCase name}}Mapper.php
Due: eslint --fix, prettier --write, /usr/local/bin/php vendor-bin/cs-fixer/vendor/php-cs-fixer/shim/php-cs-fixer.phar fix

fix(l10n): Update translations from Transifex
  l10n/id.js
  l10n/id.json
Due: none

fix: improve error handling
  src/axios.ts
Due: eslint --fix, prettier --write

chore(deps): update dependencies
  composer.lock
  package.json
  pnpm-lock.yaml
  vendor-bin/cs-fixer/composer.lock
  vendor-bin/openapi-extractor/composer.lock
  vendor-bin/phpunit/composer.lock
Due: none

chore(master): release 1.6.6
  .release-please-manifest.json
  CHANGELOG.md
  appinfo/info.xml
  version.txt
Due: prettier --write

fix(l10n): Update translations from Transifex
  l10n/it.js
  l10n/it.json
Due: none

chore(master): release 1.6.7
  .release-please-manifest.json
  CHANGELOG.md
  appinfo/info.xml
  version.txt
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,vue}
  prettier --write: any of: *.{scss,vue,ts,md}
  /usr/local/bin/php vendor-bin/cs-fixer/vendor/php-cs-fixer/shim/php-cs-fixer.phar fix: any of: *.php
