Repository chenasraf/nextcloud-autocurrency: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, /usr/local/bin/php vendor-bin/cs-fixer/vendor/php-cs-fixer/shim/php-cs-fixer.phar fix

fix(l10n): Update translations from Transifex
  l10n/ja.js
  l10n/ja.json
Due: none

chore(master): release 1.0.3
  .release-please-manifest.json
  CHANGELOG.md
  appinfo/info.xml
  version.txt
Due: prettier --write

chore(deps): update npm dependencies
  package.json
  pnpm-lock.yaml
Due: none

chore: update templates
  .lintstagedrc.cjs
  gen/api/{{pascalCase name}}Controller.php
  gen/command/{{pascalCase name}}.php
  gen/component/{{pascalCase name}}.vue
  gen/migration/Version{{version}}Date{{dt}}.php
  gen/model/{{pascalCase name}}.php
  gen/model/{{pascalCase name}}Mapper.php
  gen/page/{{pascalCase name}}Page.vue
  gen/service/{{pascalCase name}}Service.php
  gen/task-queued/{{pascalCase name}}Task.php
  gen/task-timed/{{pascalCase name}}Task.php
  gen/util/{{pascalCase name}}Util.php
  openapi.json
  scaffold.config.cjs
Due: eslint --fix, prettier --write, /usr/local/bin/php vendor-bin/cs-fixer/vendor/php-cs-fixer/shim/php-cs-fixer.phar fix

feat: add exchange rate history chart in settings
  lib/AppInfo/Application.php
  lib/Controller/ApiController.php
  lib/Db/AutocurrencyRateHistory.php
  lib/Db/AutocurrencyRateHistoryMapper.php
  lib/Db/CospendProjectMapper.php
  lib/Migration/Version0Date20250925012201.php
  lib/Service/FetchCurrenciesService.php
  package.json
  pnpm-lock.yaml
  src/App.vue
Due: eslint --fix, prettier --write, /usr/local/bin/php vendor-bin/cs-fixer/vendor/php-cs-fixer/shim/php-cs-fixer.phar fix

docs: update README & app info
  README.md
  appinfo/info.xml
Due: prettier --write

fix: cron settings save
  src/App.vue
Due: eslint --fix, prettier --write

feat: improve symbol matching
  lib/Service/FetchCurrenciesService.php
Due: /usr/local/bin/php vendor-bin/cs-fixer/vendor/php-cs-fixer/shim/php-cs-fixer.phar fix

test: add tests
  .gitignore
  lib/Service/FetchCurrenciesService.php
  tests/bootstrap.php
  tests/unit/Controller/ApiTest.php
  tests/unit/Service/FetchCurrenciesServiceTest.php
Due: /usr/local/bin/php vendor-bin/cs-fixer/vendor/php-cs-fixer/shim/php-cs-fixer.phar fix

build: update makefile
  Makefile
Due: none

fix: show more precise rate in chart tooltip
  src/App.vue
Due: eslint --fix, prettier --write

fix(l10n): Update translations from Transifex
  l10n/af.js
  l10n/af.json
  l10n/ar.js
  l10n/ar.json
  l10n/ast.js
  l10n/ast.json
  l10n/be.js
  l10n/be.json
  l10n/bg.js
  l10n/bg.json
  l10n/cs.js
  l10n/cs.json
  l10n/da.js
  l10n/da.json
  l10n/de.js
  l10n/de.json
  l10n/de_DE.js
  l10n/de_DE.json
  l10n/et_EE.js
  l10n/et_EE.json
  l10n/gl.js
  l10n/gl.json
  l10n/sr.js
  l10n/sr.json
Due: none

feat: split into user+admin settings sections
  appinfo/info.xml
  lib/Controller/ApiController.php
  lib/Db/CospendProjectMapper.php
  lib/Sections/AdminSection.php
  lib/Sections/UserSection.php
  lib/Settings/AdminSettings.php
  lib/Settings/UserSettings.php
  openapi-administration.json
  openapi-full.json
  src/AdminSettings.vue
  src/UserSettings.vue
  src/admin.ts
  src/axios.ts
  src/main.ts
  src/user.ts
  tests/unit/Controller/ApiTest.php
  vite.config.ts
Due: eslint --fix, prettier --write, /usr/local/bin/php vendor-bin/cs-fixer/vendor/php-cs-fixer/shim/php-cs-fixer.phar fix

chore(deps): update dependencies
  package.json
  pnpm-lock.yaml
Due: none

build: fix eslint job
  .github/workflows/lint-eslint.yml
Due: none

fix: update settings PUT endpoint path
  .lintstagedrc.cjs
  lib/Controller/ApiController.php
  openapi-administration.json
  openapi-full.json
  src/AdminSettings.vue
Due: eslint --fix, prettier --write, /usr/local/bin/php vendor-bin/cs-fixer/vendor/php-cs-fixer/shim/php-cs-fixer.phar fix

chore(master): release 1.1.0
  .release-please-manifest.json
  CHANGELOG.md
  appinfo/info.xml
  version.txt
Due: prettier --write

refactor: clean up section/settings php files
  lib/Sections/AdminSection.php
  lib/Sections/UserSection.php
  lib/Settings/AdminSettings.php
  lib/Settings/UserSettings.php
Due: /usr/local/bin/php vendor-bin/cs-fixer/vendor/php-cs-fixer/shim/php-cs-fixer.phar fix

feat: add link from admin to user settings
  src/AdminSettings.vue
Due: eslint --fix, prettier --write

fix(l10n): Update translations from Transifex
  l10n/et_EE.js
  l10n/et_EE.json
  l10n/gl.js
  l10n/gl.json
Due: none

fix: improve currency matching for history endpoint
  lib/Controller/ApiController.php
  lib/Db/CospendProjectMapper.php
  lib/Service/FetchCurrenciesService.php
  src/UserSettings.vue
  tests/unit/Controller/ApiTest.php
Due: eslint --fix, prettier --write, /usr/local/bin/php vendor-bin/cs-fixer/vendor/php-cs-fixer/shim/php-cs-fixer.phar fix

feat: added option to flip exchange rates in history chart
  src/UserSettings.vue
  tsconfig.app.json
Due: eslint --fix, prettier --write

chore(master): release 1.2.0
  .release-please-manifest.json
  CHANGELOG.md
  appinfo/info.xml
  version.txt
Due: prettier --write

fix: history chart currency conversion direction
  src/UserSettings.vue
  src/consts.ts
Due: eslint --fix, prettier --write

chore(master): release 1.2.1
  .release-please-manifest.json
  CHANGELOG.md
  appinfo/info.xml
  version.txt
Due: prettier --write

fix(l10n): Update translations from Transifex
  l10n/af.js
  l10n/af.json
  l10n/ar.js
  l10n/ar.json
  l10n/ast.js
  l10n/ast.json
  l10n/az.js
  l10n/az.json
  l10n/be.js
  l10n/be.json
  l10n/bg.js
  l10n/bg.json
  l10n/bn_BD.js
  l10n/bn_BD.json
  l10n/ca.js
  l10n/ca.json
  l10n/cs.js
  l10n/cs.json
  l10n/cy_GB.js
  l10n/cy_GB.json
  l10n/da.js
  l10n/da.json
  l10n/de.js
  l10n/de.json
  l10n/de_DE.js
  l10n/de_DE.json
  l10n/et_EE.js
  l10n/et_EE.json
  l10n/gl.js
  l10n/gl.json
  l10n/sr.js
  l10n/sr.json
  l10n/sw.js
  l10n/sw.json
  l10n/zh_TW.js
  l10n/zh_TW.json
Due: none

fix(l10n): Update translations from Transifex
  l10n/ga.js
  l10n/ga.json
Due: none

chore(master): release 1.2.2
  .release-please-manifest.json
  CHANGELOG.md
  appinfo/info.xml
  version.txt
Due: prettier --write

refactor: use const for app id
  src/AdminSettings.vue
  src/UserSettings.vue
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,vue}
  prettier --write: any of: *.{scss,vue,ts,md}
  /usr/local/bin/php vendor-bin/cs-fixer/vendor/php-cs-fixer/shim/php-cs-fixer.phar fix: any of: *.php
