Repository chenasraf/nextcloud-autocurrency: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, /usr/local/bin/php vendor-bin/cs-fixer/vendor/php-cs-fixer/shim/php-cs-fixer.phar fix

.lintstagedrc.json:

{
  "*.{ts,vue}": [
    "eslint --fix"
  ],
  "*.{scss,vue,ts,md}": [
    "prettier --write"
  ],
  "*.php": [
    "/usr/local/bin/php vendor-bin/cs-fixer/vendor/php-cs-fixer/shim/php-cs-fixer.phar fix"
  ]
}

fix(l10n): Update translations from Transifex
  l10n/tr.js
  l10n/tr.json
Due: none

fix(l10n): Update translations from Transifex
  l10n/lt_LT.js
  l10n/lt_LT.json
Due: none

ci: pin pnpm to v10 to match engines constraint
  .github/workflows/build-npm.yml
  .github/workflows/lint-eslint.yml
  .github/workflows/lint-openapi.yml
  .github/workflows/release.yml
Due: none

chore: mark support for nc-34
  appinfo/info.xml
Due: none

chore(master): release 1.8.1
  .release-please-manifest.json
  CHANGELOG.md
  appinfo/info.xml
  version.txt
Due: prettier --write

chore(deps): update dependencies
  composer.lock
  package.json
  pnpm-lock.yaml
  vendor-bin/cs-fixer/composer.lock
  vendor-bin/openapi-extractor/composer.lock
  vendor-bin/psalm/composer.lock
Due: none

chore: format files
  lib/Db/Currency.php
  lib/Db/CustomCurrency.php
  lib/Service/FetchCurrenciesService.php
  src/AdminSettings.vue
  tests/unit/Controller/ApiControllerTest.php
Due: eslint --fix, prettier --write, /usr/local/bin/php vendor-bin/cs-fixer/vendor/php-cs-fixer/shim/php-cs-fixer.phar fix

fix(l10n): Update translations from Transifex
  l10n/hu.js
  l10n/hu.json
Due: none

fix(l10n): Update translations from Transifex
  l10n/fa.js
  l10n/fa.json
Due: none

fix(l10n): Update translations from Transifex
  l10n/kab.js
  l10n/kab.json
Due: none

chore(master): release 1.8.2
  .release-please-manifest.json
  CHANGELOG.md
  appinfo/info.xml
  version.txt
Due: prettier --write

fix(l10n): Update translations from Transifex
  l10n/an.js
  l10n/an.json
  l10n/fa.js
  l10n/fa.json
  l10n/si.js
  l10n/si.json
Due: none

fix(l10n): Update translations from Transifex
  l10n/pt_PT.js
  l10n/pt_PT.json
Due: none

chore(master): release 1.8.3
  .release-please-manifest.json
  CHANGELOG.md
  appinfo/info.xml
  version.txt
Due: prettier --write

fix(l10n): Update translations from Transifex
  l10n/nl.js
  l10n/nl.json
Due: none

fix(l10n): Update translations from Transifex
  l10n/uk.js
  l10n/uk.json
Due: none

fix(l10n): Update translations from Transifex
  l10n/sv.js
  l10n/sv.json
Due: none

fix(l10n): Update translations from Transifex
  l10n/el.js
  l10n/el.json
Due: none

fix(l10n): Update translations from Transifex
  l10n/fr.js
  l10n/fr.json
Due: none

fix(l10n): Update translations from Transifex
  l10n/nn_NO.js
  l10n/nn_NO.json
Due: none

chore(master): release 1.8.4
  .release-please-manifest.json
  CHANGELOG.md
  appinfo/info.xml
  version.txt
Due: prettier --write

chore(master): release 1.8.5
  .release-please-manifest.json
  CHANGELOG.md
  appinfo/info.xml
  version.txt
Due: prettier --write

fix(l10n): Update translations from Transifex
  l10n/lv.js
  l10n/lv.json
Due: none

fix(l10n): Update translations from Transifex
  l10n/fr.js
  l10n/fr.json
  l10n/lb.js
  l10n/lb.json
Due: none
