Repository chenasraf/nextcloud-autocurrency: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, /usr/local/bin/php vendor-bin/cs-fixer/vendor/php-cs-fixer/shim/php-cs-fixer.phar fix

fix: info card styling
  src/AdminSettings.vue
  src/style.scss
Due: eslint --fix, prettier --write

chore(deps): update dependencies
  package.json
  pnpm-lock.yaml
Due: none

chore(master): release 1.3.2
  .release-please-manifest.json
  CHANGELOG.md
  appinfo/info.xml
  version.txt
Due: prettier --write

feat: add setting for history retention period
  lib/Controller/ApiController.php
  lib/Cron/FetchCurrenciesJob.php
  lib/Cron/RemoveOldHistoryTask.php
  lib/Db/AutocurrencyRateHistoryMapper.php
  lib/Service/RemoveOldHistoryService.php
  openapi-administration.json
  openapi-full.json
  src/AdminSettings.vue
Due: eslint --fix, prettier --write, /usr/local/bin/php vendor-bin/cs-fixer/vendor/php-cs-fixer/shim/php-cs-fixer.phar fix

test: add tests
  tests/unit/Controller/ApiTest.php
  tests/unit/Service/RemoveOldHistoryServiceTest.php
Due: /usr/local/bin/php vendor-bin/cs-fixer/vendor/php-cs-fixer/shim/php-cs-fixer.phar fix

fix: notecard text color
  src/style.scss
Due: prettier --write

fix(l10n): Update translations from Transifex
  l10n/cs.js
  l10n/cs.json
  l10n/de.js
  l10n/de.json
  l10n/de_DE.js
  l10n/de_DE.json
  l10n/fr.js
  l10n/fr.json
  l10n/gl.js
  l10n/gl.json
  l10n/it.js
  l10n/it.json
  l10n/pl.js
  l10n/pl.json
  l10n/pt_BR.js
  l10n/pt_BR.json
Due: none

feat: support nextcloud 33
  appinfo/info.xml
Due: none

fix(l10n): Update translations from Transifex
  l10n/cs.js
  l10n/cs.json
  l10n/de.js
  l10n/de.json
  l10n/de_DE.js
  l10n/de_DE.json
  l10n/en_GB.js
  l10n/en_GB.json
  l10n/et_EE.js
  l10n/et_EE.json
  l10n/gl.js
  l10n/gl.json
  l10n/he.js
  l10n/he.json
  l10n/pt_BR.js
  l10n/pt_BR.json
  l10n/zh_HK.js
  l10n/zh_HK.json
  l10n/zh_TW.js
  l10n/zh_TW.json
Due: none

chore(master): release 1.4.0
  .release-please-manifest.json
  CHANGELOG.md
  appinfo/info.xml
  version.txt
Due: prettier --write

fix(l10n): Update translations from Transifex
  l10n/ga.js
  l10n/ga.json
Due: none

chore(master): release 1.4.1
  .release-please-manifest.json
  CHANGELOG.md
  appinfo/info.xml
  version.txt
Due: prettier --write

fix(l10n): Update translations from Transifex
  l10n/sw.js
  l10n/sw.json
Due: none

chore(deps): update dependendcies
  package.json
  pnpm-lock.yaml
Due: none

test: fix test-docker make target
  Makefile
Due: none

fix: settings layout
  package.json
  pnpm-lock.yaml
  src/AdminSettings.vue
  src/UserSettings.vue
Due: eslint --fix, prettier --write

chore(master): release 1.4.2
  .release-please-manifest.json
  CHANGELOG.md
  appinfo/info.xml
  version.txt
Due: prettier --write

fix(l10n): Update translations from Transifex
  l10n/lo.js
  l10n/lo.json
Due: none

chore(master): release 1.4.3
  .release-please-manifest.json
  CHANGELOG.md
  appinfo/info.xml
  version.txt
Due: prettier --write

chore: improve CI/CD, testing infrastructure, and development tooling
  .github/workflows/phpunit-mysql.yml
  .github/workflows/phpunit-pgsql.yml
  .gitignore
  .lintstagedrc.cjs
  ISSUE_TEMPLATE/bug_report.yml
  ISSUE_TEMPLATE/config.yml
  ISSUE_TEMPLATE/feature_request.yml
  Makefile
  composer.lock
  composer/autoload.php
  gen/command/{{pascalCase name}}.php
  gen/view/{{pascalCase name}}Page.vue
  lib/AppInfo/Application.php
  lib/Settings/AdminSettings.php
  lib/Settings/UserSettings.php
  package.json
  pnpm-lock.yaml
  scaffold.config.cjs
  src/vite-env.d.ts
  templates/settings.php
  tests/bootstrap.php
  tests/phpunit.docker.xml
  tests/unit/Controller/ApiControllerTest.php
  tests/unit/Service/FetchCurrenciesServiceTest.php
  vendor-bin/cs-fixer/composer.lock
  vendor-bin/openapi-extractor/composer.lock
  vendor-bin/phpunit/composer.lock
  vendor-bin/psalm/composer.lock
  vite.config.ts
Due: eslint --fix, prettier --write, /usr/local/bin/php vendor-bin/cs-fixer/vendor/php-cs-fixer/shim/php-cs-fixer.phar fix

feat: update save button variants
  src/AdminSettings.vue
Due: eslint --fix, prettier --write

chore: exclude gen/ changes from php test trigger
  .lintstagedrc.cjs
Due: none

fix(Admin): disable cron save button during loading
  src/AdminSettings.vue
Due: eslint --fix, prettier --write

fix: cron section responsiveness
  src/AdminSettings.vue
Due: eslint --fix, prettier --write

chore(master): release 1.5.0
  .release-please-manifest.json
  CHANGELOG.md
  appinfo/info.xml
  version.txt
Due: prettier --write

chore: fix command template
  gen/command/{{pascalCase name}}.php
Due: /usr/local/bin/php vendor-bin/cs-fixer/vendor/php-cs-fixer/shim/php-cs-fixer.phar fix

feat: add fetch currencies OCC command
  appinfo/info.xml
  lib/Command/FetchCurrencies.php
Due: /usr/local/bin/php vendor-bin/cs-fixer/vendor/php-cs-fixer/shim/php-cs-fixer.phar fix

chore(master): release 1.6.0
  .release-please-manifest.json
  CHANGELOG.md
  appinfo/info.xml
  version.txt
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,vue}
  prettier --write: any of: *.{scss,vue,ts,md}
  /usr/local/bin/php vendor-bin/cs-fixer/vendor/php-cs-fixer/shim/php-cs-fixer.phar fix: any of: *.php
