Repository chenasraf/nextcloud-autocurrency: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, /usr/local/bin/php vendor-bin/cs-fixer/vendor/php-cs-fixer/shim/php-cs-fixer.phar fix

.lintstagedrc.json:

{
  "*.{ts,vue}": [
    "eslint --fix"
  ],
  "*.{scss,vue,ts}": [
    "prettier --write"
  ],
  "*.php": [
    "/usr/local/bin/php vendor-bin/cs-fixer/vendor/php-cs-fixer/shim/php-cs-fixer.phar fix"
  ]
}

feat: update admin page ui
  css/autocurrency-style.css
  src/App.vue
Due: eslint --fix, prettier --write

chore(master): release 0.5.0
  .release-please-manifest.json
  CHANGELOG.md
  appinfo/info.xml
  version.txt
Due: none

ci: fix upload workflow
  .github/workflows/release.yml
Due: none

build: exclude node_modules from tar
  Makefile
Due: none

docs: update install instructions
  README.md
Due: none

build: format md on precommit
  .lintstagedrc.json
Due: none

fix: settings section priority
  lib/Sections/CurrencyAdmin.php
Due: /usr/local/bin/php vendor-bin/cs-fixer/vendor/php-cs-fixer/shim/php-cs-fixer.phar fix

chore(master): release 0.5.1
  .release-please-manifest.json
  CHANGELOG.md
  appinfo/info.xml
  version.txt
Due: none

refactor: use qualified app name
  .lintstagedrc.json
  lib/Controller/ApiController.php
  lib/Cron/FetchCurrenciesJob.php
  lib/Sections/CurrencyAdmin.php
  lib/Service/FetchCurrenciesService.php
  lib/Settings/CurrencyAdmin.php
Due: /usr/local/bin/php vendor-bin/cs-fixer/vendor/php-cs-fixer/shim/php-cs-fixer.phar fix

build: format json files
  .lintstagedrc.json
Due: none

ci: run app build on PRs
  .github/workflows/release.yml
Due: none

ci: append version number to artifact
  .github/workflows/release.yml
Due: none

docs: update install script
  README.md
Due: none

build: fix signing
  Makefile
Due: none

docs: update app store link
  README.md
Due: none

fix: add missing eur currency info
  lib/Service/symbols.json
Due: none

chore(master): release 0.5.2
  .release-please-manifest.json
  CHANGELOG.md
  appinfo/info.xml
  version.txt
Due: none

feat: add supported currencies table
  css/autocurrency-style.css
  lib/Controller/ApiController.php
  lib/Service/FetchCurrenciesService.php
  src/App.vue
Due: eslint --fix, prettier --write, /usr/local/bin/php vendor-bin/cs-fixer/vendor/php-cs-fixer/shim/php-cs-fixer.phar fix

build: generate openapi on commit
  .husky/pre-commit
  .lintstagedrc.cjs
  .lintstagedrc.json
  lib/Controller/ApiController.php
  openapi.json
Due: /usr/local/bin/php vendor-bin/cs-fixer/vendor/php-cs-fixer/shim/php-cs-fixer.phar fix

chore: exclude css output dir from git
  .gitignore
  css/autocurrency-style.css
Due: none

fix: sort currencies table
  src/App.vue
Due: eslint --fix, prettier --write

chore(master): release 0.6.0
  .release-please-manifest.json
  CHANGELOG.md
  appinfo/info.xml
  version.txt
Due: none

chore: prettier vue
  .prettierrc
  package.json
  pnpm-lock.yaml
Due: none

build: update sign script
  Makefile
Due: none

ci: update release workflow
  .github/workflows/release.yml
Due: none

build: fix appstore script path resolution
  Makefile
Due: none

chore: update appinfo/info.xml
  .editorconfig
  appinfo/info.xml
Due: none

fix: appstore script path resolution
  Makefile
Due: none
