Repository chenasraf/nextcloud-autocurrency: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, /usr/local/bin/php vendor-bin/cs-fixer/vendor/php-cs-fixer/shim/php-cs-fixer.phar fix

.lintstagedrc.json:

{
  "*.{ts,vue}": [
    "eslint --fix"
  ],
  "*.{scss,vue,ts,md}": [
    "prettier --write"
  ],
  "*.php": [
    "/usr/local/bin/php vendor-bin/cs-fixer/vendor/php-cs-fixer/shim/php-cs-fixer.phar fix"
  ]
}

refactor: update npm dependencies + move dist files
  .gitignore
  .l10nignore
  Makefile
  lib/AppInfo/Application.php
  lib/Settings/CurrencyAdmin.php
  package.json
  pnpm-lock.yaml
  src/App.vue
  vite.config.ts
Due: eslint --fix, prettier --write, /usr/local/bin/php vendor-bin/cs-fixer/vendor/php-cs-fixer/shim/php-cs-fixer.phar fix

fix(l10n): Update translations from Transifex
  l10n/cs.js
  l10n/cs.json
  l10n/he.js
  l10n/he.json
  l10n/lv.js
  l10n/lv.json
  l10n/pl.js
  l10n/pl.json
  l10n/pt_BR.js
  l10n/pt_BR.json
  l10n/sr.js
  l10n/sr.json
Due: none

chore: add generator files
  gen/gen/api/{{pascalCase name}}Controller.php
  gen/gen/command/{{pascalCase name}}.php
  gen/gen/component/{{pascalCase name}}.vue
  gen/gen/migration/Version{{version}}Date{{dt}}.php
  gen/gen/model/{{pascalCase name}}.php
  gen/gen/model/{{pascalCase name}}Mapper.php
  gen/gen/page/{{pascalCase name}}Page.vue
  gen/gen/service/{{pascalCase name}}Service.php
  gen/gen/task-queued/{{pascalCase name}}Task.php
  gen/gen/task-timed/{{pascalCase name}}Task.php
  gen/gen/util/{{pascalCase name}}Util.php
  package.json
Due: eslint --fix, prettier --write, /usr/local/bin/php vendor-bin/cs-fixer/vendor/php-cs-fixer/shim/php-cs-fixer.phar fix

docs: add promo image
  README.md
  appinfo/info.xml
  promo.png
Due: prettier --write

build: update build files
  .lintstagedrc.cjs
  .php-cs-fixer.dist.php
  Makefile
  composer.json
Due: /usr/local/bin/php vendor-bin/cs-fixer/vendor/php-cs-fixer/shim/php-cs-fixer.phar fix

chore(master): release 0.7.1
  .release-please-manifest.json
  CHANGELOG.md
  appinfo/info.xml
  version.txt
Due: prettier --write

fix: translate title & section title
  src/App.vue
Due: eslint --fix, prettier --write

chore(master): release 0.7.2
  .release-please-manifest.json
  CHANGELOG.md
  appinfo/info.xml
  version.txt
Due: prettier --write

build: upgrade nextcloud support version to 32
  appinfo/info.xml
Due: none

docs: update README.md
  README.md
  package.json
Due: prettier --write

chore(deps): update npm dependencies
  package.json
  pnpm-lock.yaml
Due: none

fix(l10n): Update translations from Transifex
  l10n/de.js
  l10n/de.json
  l10n/de_DE.js
  l10n/de_DE.json
  l10n/he.js
  l10n/he.json
  l10n/sr.js
  l10n/sr.json
  l10n/zh_TW.js
  l10n/zh_TW.json
Due: none

build: update makefile
  .gitignore
  Makefile
Due: none

chore: formatting
  lib/Controller/ApiController.php
  lib/Service/FetchCurrenciesService.php
Due: /usr/local/bin/php vendor-bin/cs-fixer/vendor/php-cs-fixer/shim/php-cs-fixer.phar fix

chore(master): release 0.7.3
  .release-please-manifest.json
  CHANGELOG.md
  appinfo/info.xml
  version.txt
Due: prettier --write

build: update makefile
  Makefile
Due: none

build: upload to store
  .github/workflows/release.yml
  Makefile
Due: none

fix(l10n): Update translations from Transifex
  l10n/de.js
  l10n/de.json
  l10n/en_GB.js
  l10n/en_GB.json
  l10n/ga.js
  l10n/ga.json
  l10n/zh_HK.js
  l10n/zh_HK.json
Due: none

chore(master): release 0.7.4
  .release-please-manifest.json
  CHANGELOG.md
  appinfo/info.xml
  version.txt
Due: prettier --write

fix(l10n): Update translations from Transifex
  l10n/de_DE.js
  l10n/de_DE.json
  l10n/fr.js
  l10n/fr.json
  l10n/sw.js
  l10n/sw.json
Due: none

fix(l10n): Update translations from Transifex
  l10n/fr.js
  l10n/fr.json
Due: none

fix(l10n): Update translations from Transifex
  l10n/es.js
  l10n/es.json
Due: none

chore(deps): lock prettier
  package.json
  pnpm-lock.yaml
Due: none

build(workflow): fix private key for app store release
  .github/workflows/release.yml
Due: none

build: add failure for make scripts
  Makefile
Due: none

fix(l10n): Update translations from Transifex
  l10n/ko.js
  l10n/ko.json
  l10n/nl.js
  l10n/nl.json
Due: none

fix(l10n): Update translations from Transifex
  l10n/hu.js
  l10n/hu.json
Due: none

fix(l10n): Update translations from Transifex
  l10n/gl.js
  l10n/gl.json
Due: none

chore(master): release 0.7.5
  .release-please-manifest.json
  CHANGELOG.md
  appinfo/info.xml
  version.txt
Due: prettier --write
